<ion-view view-title="Chats" class="chat">
  <ion-content scroll="true">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="chat in chats"
                type="item-text-wrap">
        <img ng-src="{{chat.user.profile_pic}}">
        <h2>{{chat.message}}</h2>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar style="display:inline">

  <form ng-submit="send()" class="bar bar-footer chat-input">
      <label class="item item-input">
        <i class="icon ion-ios-chatboxes placeholder-icon"></i>
        <input type="text" placeholder="Send a message" ng-model="formData.message">
      </label>
    </form>
  </ion-footer-bar>
</ion-view>
