<div class="list card">
  <div class="item item-avatar post">
    <img src="{{ post.user.profile_pic }}">

    <h2><a ui-sref="tab.post({postId: post.id})">{{ post.title }}</a></h2>

    <p>{{ post.user.username }}</p>
  </div>

  <div class="item item-body">
    <a href="#" ng-if="post.type == 'image'" ng-click="window.open('{{ post.url }}', '_system', 'location=no');">
      <img class="full-image" ng-src="{{ post.url }}">
    </a>
    <p ng-if="post.type == 'link'">
      <a href="{{ post.url }}">{{ post.url }}</a>
    </p>
    <p>
      <a href="#" class="subdued">{{ post.category.name }}</a>
      <!--<a href="#" class="subdued"></a>-->
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <!--<a class="tab-item" href="#">-->
      <!--<i class="icon ion-thumbsup"></i>-->
      <!--Like-->
    <!--</a>-->
    <a class="tab-item" ui-sref="tab.post({postId: post.id})">
      <i class="icon ion-chatbox"></i>
      {{ post.comment_set.length }} Comments
    </a>
    <a class="tab-item" >
      {{ post.submitted | DTSince }}
    </a>
  </div>

  <!--<a class="item-avatar" ng-href="/#/tab/user/{{ ::post.user.username }}">-->
    <!--<img ng-src="{{ ::post.user.profile_pic }}">-->
  <!--</a>-->

  <!--<div class="content" flex="100">-->
    <!--<div class="since">5m</div>-->
    <!--<div flex="100">-->
      <!--<h2 class="title">{{ ::post.title }}</h2>-->
    <!--</div>-->
    <!--<div ng-if="post.type == 'image'">-->
      <!--<img ng-src="{{ ::post.url }}">-->
    <!--</div>-->
    <!--<div ng-if="post.type == 'youtube'">-->
      <!--YOUTUBE-->
    <!--</div>-->
    <!--<div flex="100" layout="row" layout-align="end center">-->
      <!--<button ng-click="go(post.id)" class="button button-small button-assertive category-button">-->
        <!--{{ ::post.category.name }}-->
      <!--</button>-->
      <!--<button ng-click="go(post.id)" class="button button-small button-assertive comment-button">-->
        <!--{{ post.comment_set.length }} <i class="ion-chatboxes"></i>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
</div>
